<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2> Gestión Ticket!</h2>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-select [formControl]="statusForm" placeholder="Estados" (selectionChange)="filterTable()">
                <mat-option *ngFor="let state of status" [value]="state.value">
                  {{state.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <p>
              <a class="btn btn-primary btn-large" [routerLink]="['/ticket']">Crear ticket</a>
            </p>
          </div>
        </div>
        <div class="table-responsive" *ngIf="listTicker?.length!=0 else elseBlock">
          <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">state</th>
                <th scope="col">Priority</th>
                <th scope="col">User</th>
                <th scope="col">DueDate</th>
                <th scope="col">Categorias</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listTicker">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <div *ngIf="item.state=='Open'">
                  <td style="color:#165c21af;">{{item.state}}</td>
                </div>
                <div *ngIf="item.state=='Closed'">
                  <td style="color:#cc4747af;">{{item.state}}</td>
                </div>
                <div *ngIf="item.state=='Overdue'">
                  <td style="color:#f5e82ecb;">{{item.state}}</td>
                </div>
                <div *ngIf="item.state=='Escalated'">
                  <td style="color:#2a1166af;">{{item.state}}</td>
                </div>
                <td>{{item.priority}}</td>
                <td>{{item.user}}</td>
                <td>{{item.dueDate}}</td>
                <td>{{item.deal}}</td>
                <td>
                  <button type="button" name="button" [routerLink]="['/ticket',item.id]"
                    class="btn btn-just-icon btn-sm" matTooltip="Editar ticket">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">mode_edit</mat-icon>
                  </button>
                  <button (click)="delete(item)" type="button" name="button" class="btn btn-just-icon btn-sm"
                    matTooltip="Eliminar ticket">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <ng-template class="alert alert-dark" #elseBlock>
          No existen registros en la base de datos
        </ng-template>


      </div>
    </div>
  </div>
</div>
